body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f4f4f4;
  color: #222;
}

header {
  background: #111827;
  color: white;
  text-align: center;
  padding: 60px 20px;
}

section {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background: white;
  border-radius: 12px;
}

.card {
  background: #e5e7eb;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
}

button {
  display: block;
  margin: 30px auto;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  background: #2563eb;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background: #1d4ed8;
}